mixin indexCard()
  main.sub
    .wrapper.px-20
      h2.heading-secondary.ma-bt-lg Table of contents
      h2.heading-secondary.ma-bt-lg= user.name
      

      if (lesson.courseContent[0])
        .faq-container
          .question= lesson.courseContent[0].chapterName.name
          .answercont
            if (lesson.courseContent[0].chapterName.lesson[0])
              .answer
                a(href=`/lesson/${lesson.courseContent[0].chapterName.lesson[0].lessonSlug}`)= lesson.courseContent[0].chapterName.lesson[0].lessonName

            if (lesson.courseContent[0].chapterName.lesson[1])
              .answer
                a(href=`/lesson/${lesson.courseContent[0].chapterName.lesson[1].lessonSlug}`)= lesson.courseContent[0].chapterName.lesson[1].lessonName

            if (lesson.courseContent[0].chapterName.lesson[2])         
              .answer
                a(href=`/lesson/${lesson.courseContent[0].chapterName.lesson[2].lessonSlug}`)= lesson.courseContent[0].chapterName.lesson[2].lessonName

            if (lesson.courseContent[0].chapterName.lesson[3])         
              .answer
                a(href=`/lesson/${lesson.courseContent[0].chapterName.lesson[3].lessonSlug}`)= lesson.courseContent[0].chapterName.lesson[3].lessonName

            if (lesson.courseContent[0].chapterName.lesson[4])          
              .answer
                a(href=`/lesson/${lesson.courseContent[0].chapterName.lesson[4].lessonSlug}`)= lesson.courseContent[0].chapterName.lesson[4].lessonName

            if (lesson.courseContent[0].chapterName.lesson[5])         
              .answer
                a(href=`/lesson/${lesson.courseContent[0].chapterName.lesson[5].lessonSlug}`)= lesson.courseContent[0].chapterName.lesson[5].lessonName

            if (lesson.courseContent[0].chapterName.lesson[6])         
              .answer
                a(href=`/lesson/${lesson.courseContent[0].chapterName.lesson[6].lessonSlug}`)= lesson.courseContent[0].chapterName.lesson[6].lessonName

            if (lesson.courseContent[0].chapterName.lesson[7])         
              .answer
                a(href=`/lesson/${lesson.courseContent[0].chapterName.lesson[7].lessonSlug}`)= lesson.courseContent[0].chapterName.lesson[7].lessonName

            if (lesson.courseContent[0].chapterName.lesson[8])         
              .answer
                a(href=`/lesson/${lesson.courseContent[0].chapterName.lesson[8].lessonSlug}`)= lesson.courseContent[0].chapterName.lesson[8].lessonName

            if (lesson.courseContent[0].chapterName.lesson[9])         
              .answer
                a(href=`/lesson/${lesson.courseContent[0].chapterName.lesson[9].lessonSlug}`)= lesson.courseContent[0].chapterName.lesson[9].lessonName

            if (lesson.courseContent[0].chapterName.lesson[10])     
              .answer
                a(href=`/lesson/${lesson.courseContent[0].chapterName.lesson[10].lessonSlug}`)= lesson.courseContent[0].chapterName.lesson[10].lessonName
   
      if (lesson.courseContent[1])
        .faq-container
          .question= lesson.courseContent[1].chapterName.name
          .answercont
            if (lesson.courseContent[1].chapterName.lesson[0])
              .answer
                a(href=`/lesson/${lesson.courseContent[1].chapterName.lesson[0].lessonSlug}`)= lesson.courseContent[1].chapterName.lesson[0].lessonName

            if (lesson.courseContent[1].chapterName.lesson[1])
              .answer
                a(href=`/lesson/${lesson.courseContent[1].chapterName.lesson[1].lessonSlug}`)= lesson.courseContent[1].chapterName.lesson[1].lessonName

            if (lesson.courseContent[1].chapterName.lesson[2])         
              .answer
                a(href=`/lesson/${lesson.courseContent[1].chapterName.lesson[2].lessonSlug}`)= lesson.courseContent[1].chapterName.lesson[2].lessonName

            if (lesson.courseContent[1].chapterName.lesson[3])         
              .answer
                a(href=`/lesson/${lesson.courseContent[1].chapterName.lesson[3].lessonSlug}`)= lesson.courseContent[1].chapterName.lesson[3].lessonName

            if (lesson.courseContent[1].chapterName.lesson[4])          
              .answer
                a(href=`/lesson/${lesson.courseContent[1].chapterName.lesson[4].lessonSlug}`)= lesson.courseContent[1].chapterName.lesson[4].lessonName

            if (lesson.courseContent[1].chapterName.lesson[5])         
              .answer
                a(href=`/lesson/${lesson.courseContent[1].chapterName.lesson[5].lessonSlug}`)= lesson.courseContent[1].chapterName.lesson[5].lessonName

            if (lesson.courseContent[1].chapterName.lesson[6])         
              .answer
                a(href=`/lesson/${lesson.courseContent[1].chapterName.lesson[6].lessonSlug}`)= lesson.courseContent[1].chapterName.lesson[6].lessonName

            if (lesson.courseContent[1].chapterName.lesson[7])         
              .answer
                a(href=`/lesson/${lesson.courseContent[1].chapterName.lesson[7].lessonSlug}`)= lesson.courseContent[1].chapterName.lesson[7].lessonName

            if (lesson.courseContent[1].chapterName.lesson[8])         
              .answer
                a(href=`/lesson/${lesson.courseContent[1].chapterName.lesson[8].lessonSlug}`)= lesson.courseContent[1].chapterName.lesson[8].lessonName

            if (lesson.courseContent[1].chapterName.lesson[9])         
              .answer
                a(href=`/lesson/${lesson.courseContent[1].chapterName.lesson[9].lessonSlug}`)= lesson.courseContent[1].chapterName.lesson[9].lessonName

            if (lesson.courseContent[1].chapterName.lesson[10])     
              .answer
                a(href=`/lesson/${lesson.courseContent[1].chapterName.lesson[10].lessonSlug}`)= lesson.courseContent[1].chapterName.lesson[10].lessonName

      if (lesson.courseContent[2])
        .faq-container
          .question= lesson.courseContent[2].chapterName.name
          .answercont
            if (lesson.courseContent[2].chapterName.lesson[0])
              .answer
                a(href=`/lesson/${lesson.courseContent[2].chapterName.lesson[0].lessonSlug}`)= lesson.courseContent[2].chapterName.lesson[0].lessonName

            if (lesson.courseContent[2].chapterName.lesson[1])
              .answer
                a(href=`/lesson/${lesson.courseContent[2].chapterName.lesson[1].lessonSlug}`)= lesson.courseContent[2].chapterName.lesson[1].lessonName

            if (lesson.courseContent[2].chapterName.lesson[2])         
              .answer
                a(href=`/lesson/${lesson.courseContent[2].chapterName.lesson[2].lessonSlug}`)= lesson.courseContent[2].chapterName.lesson[2].lessonName

            if (lesson.courseContent[2].chapterName.lesson[3])         
              .answer
                a(href=`/lesson/${lesson.courseContent[2].chapterName.lesson[3].lessonSlug}`)= lesson.courseContent[2].chapterName.lesson[3].lessonName

            if (lesson.courseContent[2].chapterName.lesson[4])          
              .answer
                a(href=`/lesson/${lesson.courseContent[2].chapterName.lesson[4].lessonSlug}`)= lesson.courseContent[2].chapterName.lesson[4].lessonName

            if (lesson.courseContent[2].chapterName.lesson[5])         
              .answer
                a(href=`/lesson/${lesson.courseContent[2].chapterName.lesson[5].lessonSlug}`)= lesson.courseContent[2].chapterName.lesson[5].lessonName

            if (lesson.courseContent[2].chapterName.lesson[6])         
              .answer
                a(href=`/lesson/${lesson.courseContent[2].chapterName.lesson[6].lessonSlug}`)= lesson.courseContent[2].chapterName.lesson[6].lessonName

            if (lesson.courseContent[2].chapterName.lesson[7])         
              .answer
                a(href=`/lesson/${lesson.courseContent[2].chapterName.lesson[7].lessonSlug}`)= lesson.courseContent[2].chapterName.lesson[7].lessonName

            if (lesson.courseContent[2].chapterName.lesson[8])         
              .answer
                a(href=`/lesson/${lesson.courseContent[2].chapterName.lesson[8].lessonSlug}`)= lesson.courseContent[2].chapterName.lesson[8].lessonName

            if (lesson.courseContent[2].chapterName.lesson[9])         
              .answer
                a(href=`/lesson/${lesson.courseContent[2].chapterName.lesson[9].lessonSlug}`)= lesson.courseContent[2].chapterName.lesson[9].lessonName

            if (lesson.courseContent[2].chapterName.lesson[10])     
              .answer
                a(href=`/lesson/${lesson.courseContent[2].chapterName.lesson[10].lessonSlug}`)= lesson.courseContent[2].chapterName.lesson[10].lessonName

      if (lesson.courseContent[3])
        .faq-container
          .question= lesson.courseContent[3].chapterName.name
          .answercont
            if (lesson.courseContent[3].chapterName.lesson[0])
              .answer
                a(href=`/lesson/${lesson.courseContent[3].chapterName.lesson[0].lessonSlug}`)= lesson.courseContent[3].chapterName.lesson[0].lessonName

            if (lesson.courseContent[3].chapterName.lesson[1])
              .answer
                a(href=`/lesson/${lesson.courseContent[3].chapterName.lesson[1].lessonSlug}`)= lesson.courseContent[3].chapterName.lesson[1].lessonName

            if (lesson.courseContent[3].chapterName.lesson[2])         
              .answer
                a(href=`/lesson/${lesson.courseContent[3].chapterName.lesson[2].lessonSlug}`)= lesson.courseContent[3].chapterName.lesson[2].lessonName

            if (lesson.courseContent[3].chapterName.lesson[3])         
              .answer
                a(href=`/lesson/${lesson.courseContent[3].chapterName.lesson[3].lessonSlug}`)= lesson.courseContent[3].chapterName.lesson[3].lessonName

            if (lesson.courseContent[3].chapterName.lesson[4])          
              .answer
                a(href=`/lesson/${lesson.courseContent[3].chapterName.lesson[4].lessonSlug}`)= lesson.courseContent[3].chapterName.lesson[4].lessonName

            if (lesson.courseContent[3].chapterName.lesson[5])         
              .answer
                a(href=`/lesson/${lesson.courseContent[3].chapterName.lesson[5].lessonSlug}`)= lesson.courseContent[3].chapterName.lesson[5].lessonName

            if (lesson.courseContent[3].chapterName.lesson[6])         
              .answer
                a(href=`/lesson/${lesson.courseContent[3].chapterName.lesson[6].lessonSlug}`)= lesson.courseContent[3].chapterName.lesson[6].lessonName

            if (lesson.courseContent[3].chapterName.lesson[7])         
              .answer
                a(href=`/lesson/${lesson.courseContent[3].chapterName.lesson[7].lessonSlug}`)= lesson.courseContent[3].chapterName.lesson[7].lessonName

            if (lesson.courseContent[3].chapterName.lesson[8])         
              .answer
                a(href=`/lesson/${lesson.courseContent[3].chapterName.lesson[8].lessonSlug}`)= lesson.courseContent[3].chapterName.lesson[8].lessonName

            if (lesson.courseContent[3].chapterName.lesson[9])         
              .answer
                a(href=`/lesson/${lesson.courseContent[3].chapterName.lesson[9].lessonSlug}`)= lesson.courseContent[3].chapterName.lesson[9].lessonName

            if (lesson.courseContent[3].chapterName.lesson[10])     
              .answer
                a(href=`/lesson/${lesson.courseContent[3].chapterName.lesson[10].lessonSlug}`)= lesson.courseContent[3].chapterName.lesson[10].lessonName
    
      if (lesson.courseContent[4])
        .faq-container
          .question= lesson.courseContent[4].chapterName.name
          .answercont
            if (lesson.courseContent[4].chapterName.lesson[0])
              .answer
                a(href=`/lesson/${lesson.courseContent[4].chapterName.lesson[0].lessonSlug}`)= lesson.courseContent[4].chapterName.lesson[0].lessonName

            if (lesson.courseContent[4].chapterName.lesson[1])
              .answer
                a(href=`/lesson/${lesson.courseContent[4].chapterName.lesson[1].lessonSlug}`)= lesson.courseContent[4].chapterName.lesson[1].lessonName

            if (lesson.courseContent[4].chapterName.lesson[2])         
              .answer
                a(href=`/lesson/${lesson.courseContent[4].chapterName.lesson[2].lessonSlug}`)= lesson.courseContent[4].chapterName.lesson[2].lessonName

            if (lesson.courseContent[4].chapterName.lesson[3])         
              .answer
                a(href=`/lesson/${lesson.courseContent[4].chapterName.lesson[3].lessonSlug}`)= lesson.courseContent[4].chapterName.lesson[3].lessonName

            if (lesson.courseContent[4].chapterName.lesson[4])          
              .answer
                a(href=`/lesson/${lesson.courseContent[4].chapterName.lesson[4].lessonSlug}`)= lesson.courseContent[4].chapterName.lesson[4].lessonName

            if (lesson.courseContent[4].chapterName.lesson[5])         
              .answer
                a(href=`/lesson/${lesson.courseContent[4].chapterName.lesson[5].lessonSlug}`)= lesson.courseContent[4].chapterName.lesson[5].lessonName

            if (lesson.courseContent[4].chapterName.lesson[6])         
              .answer
                a(href=`/lesson/${lesson.courseContent[4].chapterName.lesson[6].lessonSlug}`)= lesson.courseContent[4].chapterName.lesson[6].lessonName

            if (lesson.courseContent[4].chapterName.lesson[7])         
              .answer
                a(href=`/lesson/${lesson.courseContent[4].chapterName.lesson[7].lessonSlug}`)= lesson.courseContent[4].chapterName.lesson[7].lessonName

            if (lesson.courseContent[4].chapterName.lesson[8])         
              .answer
                a(href=`/lesson/${lesson.courseContent[4].chapterName.lesson[8].lessonSlug}`)= lesson.courseContent[4].chapterName.lesson[8].lessonName

            if (lesson.courseContent[4].chapterName.lesson[9])         
              .answer
                a(href=`/lesson/${lesson.courseContent[4].chapterName.lesson[9].lessonSlug}`)= lesson.courseContent[4].chapterName.lesson[9].lessonName

            if (lesson.courseContent[4].chapterName.lesson[10])     
              .answer
                a(href=`/lesson/${lesson.courseContent[4].chapterName.lesson[10].lessonSlug}`)= lesson.courseContent[4].chapterName.lesson[10].lessonName

      if (lesson.courseContent[5])
        .faq-container
          .question= lesson.courseContent[5].chapterName.name
          .answercont
            if (lesson.courseContent[5].chapterName.lesson[0])
              .answer
                a(href=`/lesson/${lesson.courseContent[5].chapterName.lesson[0].lessonSlug}`)= lesson.courseContent[5].chapterName.lesson[0].lessonName

            if (lesson.courseContent[5].chapterName.lesson[1])
              .answer
                a(href=`/lesson/${lesson.courseContent[5].chapterName.lesson[1].lessonSlug}`)= lesson.courseContent[5].chapterName.lesson[1].lessonName

            if (lesson.courseContent[5].chapterName.lesson[2])         
              .answer
                a(href=`/lesson/${lesson.courseContent[5].chapterName.lesson[2].lessonSlug}`)= lesson.courseContent[5].chapterName.lesson[2].lessonName

            if (lesson.courseContent[5].chapterName.lesson[3])         
              .answer
                a(href=`/lesson/${lesson.courseContent[5].chapterName.lesson[3].lessonSlug}`)= lesson.courseContent[5].chapterName.lesson[3].lessonName

            if (lesson.courseContent[5].chapterName.lesson[4])          
              .answer
                a(href=`/lesson/${lesson.courseContent[5].chapterName.lesson[4].lessonSlug}`)= lesson.courseContent[5].chapterName.lesson[4].lessonName

            if (lesson.courseContent[5].chapterName.lesson[5])         
              .answer
                a(href=`/lesson/${lesson.courseContent[5].chapterName.lesson[5].lessonSlug}`)= lesson.courseContent[5].chapterName.lesson[5].lessonName

            if (lesson.courseContent[5].chapterName.lesson[6])         
              .answer
                a(href=`/lesson/${lesson.courseContent[5].chapterName.lesson[6].lessonSlug}`)= lesson.courseContent[5].chapterName.lesson[6].lessonName

            if (lesson.courseContent[5].chapterName.lesson[7])         
              .answer
                a(href=`/lesson/${lesson.courseContent[5].chapterName.lesson[7].lessonSlug}`)= lesson.courseContent[5].chapterName.lesson[7].lessonName

            if (lesson.courseContent[5].chapterName.lesson[8])         
              .answer
                a(href=`/lesson/${lesson.courseContent[5].chapterName.lesson[8].lessonSlug}`)= lesson.courseContent[5].chapterName.lesson[8].lessonName

            if (lesson.courseContent[5].chapterName.lesson[9])         
              .answer
                a(href=`/lesson/${lesson.courseContent[5].chapterName.lesson[9].lessonSlug}`)= lesson.courseContent[5].chapterName.lesson[9].lessonName

            if (lesson.courseContent[5].chapterName.lesson[10])     
              .answer
                a(href=`/lesson/${lesson.courseContent[5].chapterName.lesson[10].lessonSlug}`)= lesson.courseContent[5].chapterName.lesson[10].lessonName

      if (lesson.courseContent[6])
        .faq-container
          .question= lesson.courseContent[6].chapterName.name
          .answercont
            if (lesson.courseContent[6].chapterName.lesson[0])
              .answer
                a(href=`/lesson/${lesson.courseContent[6].chapterName.lesson[0].lessonSlug}`)= lesson.courseContent[6].chapterName.lesson[0].lessonName

            if (lesson.courseContent[6].chapterName.lesson[1])
              .answer
                a(href=`/lesson/${lesson.courseContent[6].chapterName.lesson[1].lessonSlug}`)= lesson.courseContent[6].chapterName.lesson[1].lessonName

            if (lesson.courseContent[6].chapterName.lesson[2])         
              .answer
                a(href=`/lesson/${lesson.courseContent[6].chapterName.lesson[2].lessonSlug}`)= lesson.courseContent[6].chapterName.lesson[2].lessonName

            if (lesson.courseContent[6].chapterName.lesson[3])         
              .answer
                a(href=`/lesson/${lesson.courseContent[6].chapterName.lesson[3].lessonSlug}`)= lesson.courseContent[6].chapterName.lesson[3].lessonName

            if (lesson.courseContent[6].chapterName.lesson[4])          
              .answer
                a(href=`/lesson/${lesson.courseContent[6].chapterName.lesson[4].lessonSlug}`)= lesson.courseContent[6].chapterName.lesson[4].lessonName

            if (lesson.courseContent[6].chapterName.lesson[5])         
              .answer
                a(href=`/lesson/${lesson.courseContent[6].chapterName.lesson[5].lessonSlug}`)= lesson.courseContent[6].chapterName.lesson[5].lessonName

            if (lesson.courseContent[6].chapterName.lesson[6])         
              .answer
                a(href=`/lesson/${lesson.courseContent[6].chapterName.lesson[6].lessonSlug}`)= lesson.courseContent[6].chapterName.lesson[6].lessonName

            if (lesson.courseContent[6].chapterName.lesson[7])         
              .answer
                a(href=`/lesson/${lesson.courseContent[6].chapterName.lesson[7].lessonSlug}`)= lesson.courseContent[6].chapterName.lesson[7].lessonName

            if (lesson.courseContent[6].chapterName.lesson[8])         
              .answer
                a(href=`/lesson/${lesson.courseContent[6].chapterName.lesson[8].lessonSlug}`)= lesson.courseContent[6].chapterName.lesson[8].lessonName

            if (lesson.courseContent[6].chapterName.lesson[9])         
              .answer
                a(href=`/lesson/${lesson.courseContent[6].chapterName.lesson[9].lessonSlug}`)= lesson.courseContent[6].chapterName.lesson[9].lessonName

            if (lesson.courseContent[6].chapterName.lesson[10])     
              .answer
                a(href=`/lesson/${lesson.courseContent[6].chapterName.lesson[10].lessonSlug}`)= lesson.courseContent[6].chapterName.lesson[10].lessonName

      if (lesson.courseContent[7])
        .faq-container
          .question= lesson.courseContent[7].chapterName.name
          .answercont
            if (lesson.courseContent[7].chapterName.lesson[0])
              .answer
                a(href=`/lesson/${lesson.courseContent[7].chapterName.lesson[0].lessonSlug}`)= lesson.courseContent[7].chapterName.lesson[0].lessonName

            if (lesson.courseContent[7].chapterName.lesson[1])
              .answer
                a(href=`/lesson/${lesson.courseContent[7].chapterName.lesson[1].lessonSlug}`)= lesson.courseContent[7].chapterName.lesson[1].lessonName

            if (lesson.courseContent[7].chapterName.lesson[2])         
              .answer
                a(href=`/lesson/${lesson.courseContent[7].chapterName.lesson[2].lessonSlug}`)= lesson.courseContent[7].chapterName.lesson[2].lessonName

            if (lesson.courseContent[7].chapterName.lesson[3])         
              .answer
                a(href=`/lesson/${lesson.courseContent[7].chapterName.lesson[3].lessonSlug}`)= lesson.courseContent[7].chapterName.lesson[3].lessonName

            if (lesson.courseContent[7].chapterName.lesson[4])          
              .answer
                a(href=`/lesson/${lesson.courseContent[7].chapterName.lesson[4].lessonSlug}`)= lesson.courseContent[7].chapterName.lesson[4].lessonName

            if (lesson.courseContent[7].chapterName.lesson[5])         
              .answer
                a(href=`/lesson/${lesson.courseContent[7].chapterName.lesson[5].lessonSlug}`)= lesson.courseContent[7].chapterName.lesson[5].lessonName

            if (lesson.courseContent[7].chapterName.lesson[6])         
              .answer
                a(href=`/lesson/${lesson.courseContent[7].chapterName.lesson[6].lessonSlug}`)= lesson.courseContent[7].chapterName.lesson[6].lessonName

            if (lesson.courseContent[7].chapterName.lesson[7])         
              .answer
                a(href=`/lesson/${lesson.courseContent[7].chapterName.lesson[7].lessonSlug}`)= lesson.courseContent[7].chapterName.lesson[7].lessonName

            if (lesson.courseContent[7].chapterName.lesson[8])         
              .answer
                a(href=`/lesson/${lesson.courseContent[7].chapterName.lesson[8].lessonSlug}`)= lesson.courseContent[7].chapterName.lesson[8].lessonName

            if (lesson.courseContent[7].chapterName.lesson[9])         
              .answer
                a(href=`/lesson/${lesson.courseContent[7].chapterName.lesson[9].lessonSlug}`)= lesson.courseContent[7].chapterName.lesson[9].lessonName

            if (lesson.courseContent[7].chapterName.lesson[10])     
              .answer
                a(href=`/lesson/${lesson.courseContent[7].chapterName.lesson[10].lessonSlug}`)= lesson.courseContent[7].chapterName.lesson[10].lessonName

      if (lesson.courseContent[8])
        .faq-container
          .question= lesson.courseContent[8].chapterName.name
          .answercont
            if (lesson.courseContent[8].chapterName.lesson[0])
              .answer
                a(href=`/lesson/${lesson.courseContent[8].chapterName.lesson[0].lessonSlug}`)= lesson.courseContent[8].chapterName.lesson[0].lessonName

            if (lesson.courseContent[8].chapterName.lesson[1])
              .answer
                a(href=`/lesson/${lesson.courseContent[8].chapterName.lesson[1].lessonSlug}`)= lesson.courseContent[8].chapterName.lesson[1].lessonName

            if (lesson.courseContent[8].chapterName.lesson[2])         
              .answer
                a(href=`/lesson/${lesson.courseContent[8].chapterName.lesson[2].lessonSlug}`)= lesson.courseContent[8].chapterName.lesson[2].lessonName

            if (lesson.courseContent[8].chapterName.lesson[3])         
              .answer
                a(href=`/lesson/${lesson.courseContent[8].chapterName.lesson[3].lessonSlug}`)= lesson.courseContent[8].chapterName.lesson[3].lessonName

            if (lesson.courseContent[8].chapterName.lesson[4])          
              .answer
                a(href=`/lesson/${lesson.courseContent[8].chapterName.lesson[4].lessonSlug}`)= lesson.courseContent[8].chapterName.lesson[4].lessonName

            if (lesson.courseContent[8].chapterName.lesson[5])         
              .answer
                a(href=`/lesson/${lesson.courseContent[8].chapterName.lesson[5].lessonSlug}`)= lesson.courseContent[8].chapterName.lesson[5].lessonName

            if (lesson.courseContent[8].chapterName.lesson[6])         
              .answer
                a(href=`/lesson/${lesson.courseContent[8].chapterName.lesson[6].lessonSlug}`)= lesson.courseContent[8].chapterName.lesson[6].lessonName

            if (lesson.courseContent[8].chapterName.lesson[7])         
              .answer
                a(href=`/lesson/${lesson.courseContent[8].chapterName.lesson[7].lessonSlug}`)= lesson.courseContent[8].chapterName.lesson[7].lessonName

            if (lesson.courseContent[8].chapterName.lesson[8])         
              .answer
                a(href=`/lesson/${lesson.courseContent[8].chapterName.lesson[8].lessonSlug}`)= lesson.courseContent[8].chapterName.lesson[8].lessonName

            if (lesson.courseContent[8].chapterName.lesson[9])         
              .answer
                a(href=`/lesson/${lesson.courseContent[8].chapterName.lesson[9].lessonSlug}`)= lesson.courseContent[8].chapterName.lesson[9].lessonName

            if (lesson.courseContent[8].chapterName.lesson[10])     
              .answer
                a(href=`/lesson/${lesson.courseContent[8].chapterName.lesson[10].lessonSlug}`)= lesson.courseContent[8].chapterName.lesson[10].lessonName

      if (lesson.courseContent[9])
        .faq-container
          .question= lesson.courseContent[9].chapterName.name
          .answercont
            if (lesson.courseContent[9].chapterName.lesson[0])
              .answer
                a(href=`/lesson/${lesson.courseContent[9].chapterName.lesson[0].lessonSlug}`)= lesson.courseContent[9].chapterName.lesson[0].lessonName

            if (lesson.courseContent[9].chapterName.lesson[1])
              .answer
                a(href=`/lesson/${lesson.courseContent[9].chapterName.lesson[1].lessonSlug}`)= lesson.courseContent[9].chapterName.lesson[1].lessonName

            if (lesson.courseContent[9].chapterName.lesson[2])         
              .answer
                a(href=`/lesson/${lesson.courseContent[9].chapterName.lesson[2].lessonSlug}`)= lesson.courseContent[9].chapterName.lesson[2].lessonName

            if (lesson.courseContent[9].chapterName.lesson[3])         
              .answer
                a(href=`/lesson/${lesson.courseContent[9].chapterName.lesson[3].lessonSlug}`)= lesson.courseContent[9].chapterName.lesson[3].lessonName

            if (lesson.courseContent[9].chapterName.lesson[4])          
              .answer
                a(href=`/lesson/${lesson.courseContent[9].chapterName.lesson[4].lessonSlug}`)= lesson.courseContent[9].chapterName.lesson[4].lessonName

            if (lesson.courseContent[9].chapterName.lesson[5])         
              .answer
                a(href=`/lesson/${lesson.courseContent[9].chapterName.lesson[5].lessonSlug}`)= lesson.courseContent[9].chapterName.lesson[5].lessonName

            if (lesson.courseContent[9].chapterName.lesson[6])         
              .answer
                a(href=`/lesson/${lesson.courseContent[9].chapterName.lesson[6].lessonSlug}`)= lesson.courseContent[9].chapterName.lesson[6].lessonName

            if (lesson.courseContent[9].chapterName.lesson[7])         
              .answer
                a(href=`/lesson/${lesson.courseContent[9].chapterName.lesson[7].lessonSlug}`)= lesson.courseContent[9].chapterName.lesson[7].lessonName

            if (lesson.courseContent[9].chapterName.lesson[8])         
              .answer
                a(href=`/lesson/${lesson.courseContent[9].chapterName.lesson[8].lessonSlug}`)= lesson.courseContent[9].chapterName.lesson[8].lessonName

            if (lesson.courseContent[9].chapterName.lesson[9])         
              .answer
                a(href=`/lesson/${lesson.courseContent[9].chapterName.lesson[9].lessonSlug}`)= lesson.courseContent[9].chapterName.lesson[9].lessonName

            if (lesson.courseContent[9].chapterName.lesson[10])     
              .answer
                a(href=`/lesson/${lesson.courseContent[9].chapterName.lesson[10].lessonSlug}`)= lesson.courseContent[9].chapterName.lesson[10].lessonName

      if (lesson.courseContent[10])
        .faq-container
          .question= lesson.courseContent[10].chapterName.name
          .answercont
            if (lesson.courseContent[10].chapterName.lesson[0])
              .answer
                a(href=`/lesson/${lesson.courseContent[10].chapterName.lesson[0].lessonSlug}`)= lesson.courseContent[10].chapterName.lesson[0].lessonName

            if (lesson.courseContent[10].chapterName.lesson[1])
              .answer
                a(href=`/lesson/${lesson.courseContent[10].chapterName.lesson[1].lessonSlug}`)= lesson.courseContent[10].chapterName.lesson[1].lessonName

            if (lesson.courseContent[10].chapterName.lesson[2])         
              .answer
                a(href=`/lesson/${lesson.courseContent[10].chapterName.lesson[2].lessonSlug}`)= lesson.courseContent[10].chapterName.lesson[2].lessonName

            if (lesson.courseContent[10].chapterName.lesson[3])         
              .answer
                a(href=`/lesson/${lesson.courseContent[10].chapterName.lesson[3].lessonSlug}`)= lesson.courseContent[10].chapterName.lesson[3].lessonName

            if (lesson.courseContent[10].chapterName.lesson[4])          
              .answer
                a(href=`/lesson/${lesson.courseContent[10].chapterName.lesson[4].lessonSlug}`)= lesson.courseContent[10].chapterName.lesson[4].lessonName

            if (lesson.courseContent[10].chapterName.lesson[5])         
              .answer
                a(href=`/lesson/${lesson.courseContent[10].chapterName.lesson[5].lessonSlug}`)= lesson.courseContent[10].chapterName.lesson[5].lessonName

            if (lesson.courseContent[10].chapterName.lesson[6])         
              .answer
                a(href=`/lesson/${lesson.courseContent[10].chapterName.lesson[6].lessonSlug}`)= lesson.courseContent[10].chapterName.lesson[6].lessonName

            if (lesson.courseContent[10].chapterName.lesson[7])         
              .answer
                a(href=`/lesson/${lesson.courseContent[10].chapterName.lesson[7].lessonSlug}`)= lesson.courseContent[10].chapterName.lesson[7].lessonName

            if (lesson.courseContent[10].chapterName.lesson[8])         
              .answer
                a(href=`/lesson/${lesson.courseContent[10].chapterName.lesson[8].lessonSlug}`)= lesson.courseContent[10].chapterName.lesson[8].lessonName

            if (lesson.courseContent[10].chapterName.lesson[9])         
              .answer
                a(href=`/lesson/${lesson.courseContent[10].chapterName.lesson[9].lessonSlug}`)= lesson.courseContent[10].chapterName.lesson[9].lessonName

            if (lesson.courseContent[10].chapterName.lesson[10])     
              .answer
                a(href=`/lesson/${lesson.courseContent[10].chapterName.lesson[10].lessonSlug}`)= lesson.courseContent[10].chapterName.lesson[10].lessonName

    each progress in lesson.progresses
      h2.heading-secondary.ma-bt-lg= `${progress.progress.length} completed`

      //- .faq-container
      //-   .question 2. Honest Money
      //-   .answercont
      //-     .answer
      //-       a(href=`/lesson/2.1-speaking-of-bitcoin`) 2.1 Speaking of Bitcoin
      //-     .answer
      //-       a(href=`/lesson/2.2-an-electronic-cash-system`) 2.2 An Electronic Cash System
      //-     .answer
      //-       a(href=`/lesson/2.3-bitcoin's-monetary-policy`) 2.3 Bitcoin's Monetary Policy
      //-     .answer
      //-       a(href=`/lesson/2.4-transparency`) 2.4 Transparency
      //-     .answer
      //-       a(href=`/lesson/2.5-using-bitcoin-to-give-wider-access-to-low-cost-financial-services`) 2.5 Using Bitcoin to give wider access to low cost financial services
      //-     .answer
      //-       a(href=`/lesson/2.6-summary`) 2.6 Summary

      //- .faq-container
      //-   .question 3. Bitcoin and the Internet
      //-   .answercont
      //-     .answer
      //-       a(href=`/lesson/3.1-what-is-the-internet`) 3.1 What is the internet?
      //-     .answer
      //-       a(href=`/lesson/3.2-what-is-the-web`) 3.2 What is the Web?
      //-     .answer
      //-       a(href=`/lesson/3.3-how-bitcoin's-metanet-helps-to-solve-web-2.0-issues`) 3.3 How Bitcoin's Metanet helps to solve Web 2.0 issues
      //-     .answer
      //-       a(href=`/lesson/3.4-summary`) 3.4 Summary

      //- .faq-container
      //-   .question 4. The Fusion of Data and Money
      //-   .answercont
      //-     .answer
      //-       a(href=`/lesson/4.1-data-is-the-new-oil`) 4.1 Data is the new Oil
      //-     .answer
      //-       a(href=`/lesson/4.2-data-and-information`) 4.2 Data and Information
      //-     .answer
      //-       a(href=`/lesson/4.3-commercializing-data`) 4.3 Commercializing Data
      //-     .answer
      //-       a(href=`/lesson/4.4-bit-+-coin`) 4.4 Bit + Coin
      //-     .answer
      //-       a(href=`/lesson/4.5-real-world-applications`) 4.5 Real World Applications
      //-     .answer
      //-       a(href=`/lesson/4.6-summary`) 4.6 Summary

      //- .faq-container
      //-   .question 5. Precondition: A Public Blockchain
      //-   .answercont
      //-     .answer
      //-       a(href=`/lesson/5.1-key-differences-between-public-and-private-blockchain`) 5.1 Key Differences Between Public and Private Blockchain
      //-     .answer
      //-       a(href=`/lesson/5.2-governance`) 5.2 Governance
      //-     .answer
      //-       a(href=`/lesson/5.3-access-to-data`) 5.3 Access to Data
      //-     .answer
      //-       a(href=`/lesson/5.4-transaction-costs`) 5.4 Transaction Costs
      //-     .answer
      //-       a(href=`/lesson/5.5-interoperability`) 5.5 Interoperability
      //-     .answer
      //-       a(href=`/lesson/5.6-the-global-public-blockchain`) 5.6 The Global Public Blockchain
      //-     .answer
      //-       a(href=`/lesson/5.7-summary`) 5.7 Summary

      //- .faq-container
      //-   .question 6. Precondition: Proof of work
      //-   .answercont
      //-     .answer
      //-       a(href=`/lesson/6.1-proof-of-work-(pow)`) 6.1 Proof of work (POW)
      //-     .answer
      //-       a(href=`/lesson/6.2-proof-of-stake-(pos)`) 6.2 Proof of stake (POS)
      //-     .answer
      //-       a(href=`/lesson/6.3-differences-between-pow-and-pos`) 6.3 Differences between POW and POS
      //-     .answer
      //-       a(href=`/lesson/6.4-summary`) 6.4 Summary

      //- .faq-container
      //-   .question 7. Precondition: Predictable Fees
      //-   .answercont
      //-     .answer
      //-       a(href=`/lesson/7.1-predictable-fees`) 7.1 Predictable fees
      //-     .answer
      //-       a(href=`/lesson/7.2-reduce-risk-on-compliance-during-the-retention-period`) 7.2 Reduce risk on compliance during the retention period
      //-     .answer
      //-       a(href=`/lesson/7.3-summary`) 7.3 Summary

      //- .faq-container
      //-   .question 8. Precondition: A Set in Stone Protocol
      //-   .answercont
      //-     .answer
      //-       a(href=`/lesson/8.1-forking`) 8.1 Forking
      //-     .answer
      //-       a(href=`/lesson/8.2-bitcoin-protocol-rules`) 8.2 Bitcoin Protocol Rules
      //-     .answer
      //-       a(href=`/lesson/8.3-summary`) 8.3 Summary

      //- .faq-container
      //-   .question 9. Precondition: Compliance &amp; Storage
      //-   .answercont
      //-     .answer
      //-       a(href=`/lesson/9.1-compliance`) 9.1 Compliance
      //-     .answer
      //-       a(href=`/lesson/9.2-enforcement`) 9.2 Enforcement
      //-     .answer
      //-       a(href=`/lesson/9.3-bitcoin-sv-(bsv)`) 9.3 Bitcoin SV (BSV)
     
      //- .faq-container
      //-   .question 10. Final Assessment
      //-   .answercont
      //-     .answer
      //-       a(href=`/assessment/9.3-bitcoin-sv-(bsv)`) 10.1 Final Assessment

//- mixin indexCard(tableofcontent)
//-   main.sub
//-     .wrapper.px-20
//-       h2.heading-secondary.ma-bt-lg Table of contents

//-       .faq-container
//-         each chapterName in tableofcontent.courseContent
//-           .question= name
