doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Certificate
    

  body

    main.main-cert
      .toolbar.no-print
        button.btn.btn-info(onclick='window.print()') Print Certificate
        button#downloadPDF.btn.btn-info Download PDF


    main.main-cert.cert-container.print-m-0
      .certificate-container#content2.cert
        .certificate
          .water-mark-overlay
          .certificate-header
            img.logo-cert(src='/img/logo-green-small.png' alt='')
          .certificate-body
            p.certificate-title
              strong LearnBSV
            h1.heading-one Certificate of Completion
            //- .about-certificate
            //-     p
            //-       | This is certify to
            p.student-name= certificate.userName
            .certificate-content
              .about-certificate
                p
                  | has successfully completed and received a passing grade in

              p.topic-title= certificate.courseName
              .text-center
                p.topic-description.text-muted
                  | a course of study offered by ChainScript.dev
            .certificate-footer.text-muted
              -var dateObj = certificate.createdAt
              -var month = dateObj.getUTCMonth() + 1; //months from 1-12
              -var day = dateObj.getUTCDate();
              -var year = dateObj.getUTCFullYear();
              -let newdate = year + "/" + month + "/" + day;
              .row
                p.topic-descriptions= `Credential ID: ${certificate.credentialId}`
                p.topic-descriptions= `Date Issued: ${newdate}`
 


      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js')



style.
  body {
    font-family: 'Rubik', sans-serif;
  }

  .main-cert {
    padding: 1rem 0;
  }

  .certificate-container {
    padding: 10px;
    width: 900px;
  }

  .certificate {
    border: 20px solid #5E68AE;
    padding: 25px;
    position: relative;
    text-align : center;
    color: #444;
  }

  .certificate-header > .logo-cert {
    width: 80px;
  }

  .certificate-title {
    text-align: center;    
  }

  .issued-title {
    text-align: center;
    font-size: 2rem;
  }

  .certificate-body {
    text-align: center;
    padding-top: 1rem;
  }

  .heading-one {
    font-weight: 400;
    font-size: 2.4rem;
    color: #5E68AE;
  }

  .student-name {
    text-transform: uppercase;
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  .certificate-content {
    margin: 0 auto;
    text-align: center;
  }

  .about-certificate {
    margin: 0 auto;
  }

  .about-certificate p {
    font-size: 1.2rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .topic-description {
    text-align: center;
    font-size : 1.2rem;
  }
  .topic-descriptions {
    font-size : .8rem;
  }

  .topic-title {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    text-align: center;
  }



  @media print{
    .no-print, .no-print *{
      display: none !important;
    } 
    .print-m-0{
      margin: 0 !important;
    }
  } 

  .btn{
    padding: 10px 17px; 
    border-radius: 3px; 
    border: 1px solid #1a1a1a;
    font-size: 12px; 
    margin: 10px 5px;
    background-color: transparent;
  }
  .btn:hover{
    background-color: #5E68AE;
    color: #f7f7f7;
  }

  .toolbar{
    //- background-color: #f7f7f7; 
    width: 100%; 
    position: absolute; 
    left: 0; 
    top: 0; 
    text-align: center;
  }





script.
    $("#downloadPDF").click(function () {
    getScreenshotOfElement(
      $("div#content2").get(0),
      0,
      0,
      $("#content2").width() + 45,  // added 45 because the container's (content2) width is smaller than the image, if it's not added then the content from right side will get cut off
      $("#content2").height() + 30, // same issue as above. if the container width / height is changed (currently they are fixed) then these values might need to be changed as well.
      function (data) {
        var pdf = new jsPDF("l", "pt", [
          $("#content2").width(),
          $("#content2").height(),
        ]);

        pdf.addImage(
          "data:image/png;base64," + data,
          "PNG",
          0,
          0,
          $("#content2").width(),
          $("#content2").height()
        );
        pdf.save("LearnBSV-ChainScript-certificte.pdf");
      }
    );
  });

  function getScreenshotOfElement(element, posX, posY, width, height, callback) {
    html2canvas(element, {
      onrendered: function (canvas) {
        var context = canvas.getContext("2d");
        var imageData = context.getImageData(posX, posY, width, height).data;
        var outputCanvas = document.createElement("canvas");
        var outputContext = outputCanvas.getContext("2d");
        outputCanvas.width = width;
        outputCanvas.height = height;

        var idata = outputContext.createImageData(width, height);
        idata.data.set(imageData);
        outputContext.putImageData(idata, 0, 0);
        callback(outputCanvas.toDataURL().replace("data:image/png;base64,", ""));
      },
      width: width,
      height: height,
      useCORS: true,
      taintTest: false,
      allowTaint: false,
    });
  }